:root {
  --background: #2a2634;
  --image: url(../assets/images/background.png);
  --gradient-black: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 67.08%);
  --background-gradient-purple: rgb(149, 114, 252);
  --gradient-purple: linear-gradient(
    90deg,
    rgba(149, 114, 252, 1) 0%,
    rgba(67, 231, 173, 1) 51%,
    rgba(225, 213, 93, 1) 100%
  );

  --white: #ffffff;
  --black: #0000;

  --zinc-200: #e4e4e7;
  --zinc-300: #d4d4d8;
  --zinc-400: #a1a1aa;
  --zinc-500: #71717a;
  --zinc-900: #18181b;

  --violet-500: #8b5cf6;
  --emerald-400: #34d399;
  --red-400: #f87171;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--background);
  --color-text: var(--white);
  --color-subtext: var(--zinc-400);
  --color-placeholder: var(--zinc-500);
  --color-button: var(--violet-500);

  --border: 0.5rem;
  --border-button: 0.375rem;
  --border-input: 0.25rem;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background-image: var(--image);
  font-family: Inter, sans-serif;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
